.box {
  width: 300px;
  display: inline-grid;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  min-height: 400px;
}

p a, .date, .comment_counter_in_post_list a, .box p a, .box a {
    font-family: 'Lora';
    font-size: 11pt;
}

p {
    font-family: 'Lora';
    font-size: 12pt;
}

.page-header {
    background-color: #5f00a8;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header p, p a {
    font-family: 'Lora';
    font-size: 19pt;
}

h1 {
    font-family: 'Lora';
    font-size: 25pt;
    color: #000000;
}

h2 {
    font-family: 'Lora';
    font-size: 25pt;
    color: #707070;
}

.box h3 a {
    font-family: 'Lora';
    font-size: 15pt;
    color: #000000;
}

.box #date {
    font-family: 'Lora';
    color: #828282;
    font-size: 10pt;
    margin-top: 15px;
}

.save {
    float: right;
    margin-bottom: 40px;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 10px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.comment_counter_in_post_list a {
    color: #828282;
    font-family: 'Lora';
    font-size: 10pt;
}
